* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: rgb(88, 88, 88);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');


header {
    padding: 0px 50px 50px;
}

nav {
    padding: 30px 0px 0px 90%;
    display: flex;
}

nav a {
    text-decoration: none;
    display: inline;
    list-style: none;
}

ul {
    list-style: none;
    position: absolute;
}

li {
    justify-content: space-between;
    display: inline-block;
}

.boton1 {
    background: rgb(248, 248, 246);
    padding: 5px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.boton2 {
    background-color: rgb(255, 208, 0);
    padding: 5px 20px;
    border-radius: 10px;
    border: 0.5px solid black;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.imagenDelHeader {
    position: absolute;
    left: 50%;
    bottom: 50%;
    right: 0%;
    top: 10em;
    width: 600px;

}

.icono-pagina {
    width: 150px;
    margin-top: 0;
    padding: 0;
}

.containerH1Parrafo {
    margin: 0px 50px;
}

h1 {
    width: 300px;
    line-height: 50px;
}

span {
    color: rgb(255, 208, 0);
}

.parrafo-header {
    padding: 50px 0px 30px 0px;
    width: 200px;
    line-height: 25px;
    display: flex;
}

.seccion1 {
    margin: 40px 0 0;
    padding: 70px 150px;
    padding-top: 80px;
    background-color: rgb(206, 248, 238);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    display: flex;
    justify-content: space-between;
    
}

.imagenCaja1 {
    width: 200px;
    
}

.imagenCaja2 {
    width: 200px;
}

.imagenCaja3 {
    width: 200px;
}

.caja1 .caja2 .caja3 {
    background-color: white;
    width: 5px;
    justify-content: space-between;
    margin: auto;
}




.caja1 {
    background-color: white;
    width: 300px;
    text-align: center;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.caja2 {
    background-color: white;
    width: 300px;
    text-align: center;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.caja3 {
    background-color: white;
    width: 300px;
    text-align: center;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4)
}

h2 {
    padding: 20px 0px 20px;
    line-height: 30px;
}
